:root.theme-light {
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --card-title-color: #353430;
  --other-title-color: var(--card-title-color);
  --text-color: var(--card-title-color);
  --border-hover: 53 52 48;
  --other-color: var(--text-color);
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__icon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --card-title-color: #353430;
    --other-title-color: var(--card-title-color);
    --text-color: var(--card-title-color);
    --border-hover: 53 52 48;
    --other-color: var(--text-color);
    --bg-image: url(../images/cover-image-light.png);
  }

  .header__icon {
    display: none;
  }
}