:root {
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --card-title-color: #000028;
  --other-title-color: var(--accent-color);
  --text-color: #F1B2CE;
  --other-color: var(--accent-color);
  --border-hover: 255 0 112;
  --border-opacity: .4;
  --font-family: 'IBM Plex mono';
  --font-size: 1.125rem;
  --bg-image: url(../images/cover-image-dark.png);
  --padding-page: .55em;
  --line-height: 1.3em;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
